:root {
  --main-color: #050a30;
  --secondary-color: #f4f6fc;
  --card-color: #0f185cf1;
}

@font-face {
  font-family: "exo2";
  src: url("assets/fonts/Exo2-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  min-height: inherit;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  min-height: inherit;
}

nav {
  display: flex;
  width: 100vw;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);

  section {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    background-color: inherit;
    color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    gap: 2.8em;

    div {
      display: flex;
      flex-direction: inherit;

      .cart {
        background-color: var(--main-color);
        width: 2em;
        color: var(--secondary-color);
      }

      p {
        font-weight: 600;
        margin-top: 0.3em;
      }
    }
  }
}

nav h1 {
  font-size: 1.2em;
  margin-right: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--secondary-color);
  font-family: "exo2", sans-serif;
}

nav img {
  margin-left: 1.5rem;
  height: inherit;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
  margin: 4em 0 0 0;

  button {
    background-color: var(--secondary-color);
    color: var(--main-color);
    box-shadow: 1px 2px 5px var(--main-color);
    margin: 0.5em 0.7em;
  }

  .active-button {
    box-shadow: 1px 2px 5px var(--main-color) inset;
    background-color: #ccd0dd;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: inherit;
    background-color: var(--card-color);
    border-radius: 24px;
    width: 18em;
    height: 25em;
    margin: 2em;
    padding: 1em;
    box-shadow: 1px 2px 5px grey;

    button {
      background-color: var(--secondary-color);
      box-shadow: 1px 2px 5px var(--main-color);
      color: var(--main-color);
    }

    div .added-article {
      display: flex;
      align-items: center;
      gap: 1.2em;

      button {
        background-color: var(--secondary-color);
        width: 3em;
        height: 3em;
        box-shadow: 1px 2px 5px var(--main-color);
        color: var(--main-color);
      }
    }

    img {
      width: 12em;
      border-radius: 12px;
      border: solid var(--secondary-color) 2px;
    }

    h2 {
      font-family: "exo2", sans-serif;
      font-size: 1.5em;
      color: var(--secondary-color);
    }

    p {
      color: var(--secondary-color);
      font-size: 0.9em;
      text-align: center;
    }

    .price {
      font-size: 1.1em;
      font-weight: 600;
    }
  }
}

footer {
  background-color: var(--main-color);
  height: 5em;
  width: 100%;
  margin-top: 4em;
}

@media screen and (min-width: 700px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
