:root {
  --main-color: #050a30;
  --secondary-color: #f4f6fc;
  --card-color: #cae8ff;
}

@font-face {
  font-family: "exo2";
  src: url("assets/fonts/Exo2-VariableFont_wght.ttf")
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

nav {
  display: flex;
  width: 100vw;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
}

nav h1 {
  font-size: 1.3em; 
  margin-right: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--secondary-color);
  font-family: "exo2";
}

nav img {
  margin-left: 3rem;
  height: inherit;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  div{
    display: flex;
    flex-direction: column;
    align-items: inherit;
    border: solid var(--main-color) 2px;
    background-color: var(--card-color);
    border-radius: 24px;
    width: 18em;
    margin: 1em;
    padding: 1em;
    gap: 1em;

    img {
      width: 12em;
      border-radius: 12px;
      border: solid var(--main-color) 2px;
    }

    h2 {
      font-family: "exo2";
      font-size: 1.5em;
      color: var(--main-color);
    }

    p{
      color: var(--main-color);
      font-size: 0.9em;
      text-align: center;
    }

    .price {
      font-size: 1.1em;
      font-weight: 600;
    }
  }
}

footer {
  background-color: var(--main-color);
  height: 5em;
  width: 100%;
  margin-top: 100%;
}


